* {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(32, 32, 32);
}
img {
  width: 100%;
  height: 250px;
  padding: 0;
  font-family: system-ui;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 25px;
}
ul {
  display: flex;
  gap: 60px;
  justify-content: center;
  list-style: none;
  
}
li{
  position: relative;
}
a {
  color: white;
  text-decoration: none;
  font-family: system-ui;
}
a:hover{
  color: yellow;
}
.search{
  display:flex;
  align-items: center;
  width: 300px;
  height: 30px;
  border: 1px solid black;
  margin-right:50px ;
  background-color: white;
  border-radius: 50px;
}
input{
  border:none;
  outline:none;
}
i{
  color: black;
  padding: 0 10px;
}
.nav .sub-menu{
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  background-color: #eee;
  padding: 5px 20px;
}
main{
  display: flex;
  justify-content: space-between;
}
.img-addfr{
  width: 168px;
  height: 168px;
}
.menudoc ul li a{
  color: rgb(0, 0, 0);
}
.menudoc ul{
  flex-direction: column;
  background-color: rgb(79, 79, 239);
}
.menudoc ul li{
  width: 203px;
  height: 52px;
  text-align: center;
}
.title{
  font-family: system-ui;
  font-size: 50px;
}
footer{
  background-color: rgb(92, 91, 91);
  padding: 30px;
}
footer div{
  text-align: center;
  font-family: system-ui;
  font-weight: 800;
  color: white;
}
.img-add{
  background-color: pink;
  
  padding: 20px;
}